<!-- author: rivalzka -->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="src/lib/jquery.min.js"></script>
    <script src="src/lib/jquery-ui.min.js"></script>
    <script src="src/lib/bootstrap.min.js"></script>
    <script src="src/lib/fawesome.js"></script>
    <script src="src/lib/angular.min.js"></script>
    <script src="src/lib/angular-sanitize.min.js"></script>
    <script src="src/js/script.js"></script>
    <script src="src/js/dodo.app.js"></script>
    <link rel="stylesheet" href="src/lib/jquery-ui.css">
    <link rel="stylesheet" href="src/lib/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>

<body id="{{homeSection.id}}" class="index theme assets" ng-app="dodoapp" ng-controller="dataSheet" ng-init="initDodo()">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink border-a">
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand page-scroll" href="#{{homeSection.id}}">
                    <img ng-src="{{tabMenu.icon.src}}" alt="{{tabMenu.icon.alt}}"> {{tabMenu.name}}
                </a>

            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" ng-repeat="tb in tabMenuContent track by $index">
                        <a class="page-scroll" href="#{{tb.id}}">{{tb.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="--intro-bg-img: url({{dodoBoardImageBackground.src}})">
        <!-- <header> -->
        <div class="container intro">
            <div class="intro-text">
                <div class="intro-lead-in">{{homeSection.header}}</div>
                <div class="intro-heading">{{homeSection.desc}}</div>
                <img ng-src="{{dodoBoardImage.src}}" alt="{{dodoBoardImage.alt}}" class="img-responsive border-a">
            </div>
            <div class="row">

                <a href="#{{aboutSection.id}}" class="page-scroll btn-icon "><i class="fas fa-arrow-circle-down"></i></a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="{{aboutSection.id}}" class="border-a" style="background-color: {{aboutSection.bgColor}}">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{aboutSection.header}}</h2>
                    <h3 class="section-subheading text-muted">{{aboutSection.desc}}</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 margin-t " ng-repeat="content in aboutContents track by $index">
                    <span class="fa-stack fa-4x">
                        <i class="{{content.icon}} fa-stack-1x about-icons"></i>
                    </span>
                    <h4 class="about-heading">{{content.title}}</h4>
                    <p class="text-muted">{{content.text}}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Activities Section -->
    <section id="{{activitiesSection.id}}" class="border-a" style="background-color: {{activitiesSection.bgColor}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{activitiesSection.header}}</h2>
                    <h3 class="section-subheading text-muted">{{activitiesSection.desc}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 activities-item" ng-repeat="activity in activityContents track by $index">
                    <a href="#activity-modal" class="activities-link" data-toggle="modal" ng-click="selectActivity(activity.content)">
                        <div class="activities-hover">
                            <div class="activities-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="{{activity.content.image.src}}" class="img-responsive" alt="{{activity.content.image.alt}}">
                    </a>
                    <div class="activities-caption">
                        <h4>{{activity.title}}</h4>
                        <p class="text-muted">{{activity.desc}}</p>
                    </div>
                </div>
            </div>
    </section>

    <!-- SSS Section -->
    <section id="{{faqSection.id}}" class="border-a" style="background-color: {{faqSection.bgColor}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{faqSection.header}}</h2>
                </div>
            </div>

            <div class="faq-content">
                <div class="faq-question" ng-repeat="question in faqContents track by $index">
                    <input id="{{question.id}}" type="checkbox" class="panel">
                    <div class="plus">+</div>
                    <label for="{{question.id}}" class="panel-title"> {{question.question}} </label>
                    <div class="panel-content" ng-bind-html="question.answer"></div>
                </div>
            </div>
        </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin-b">
                    <span class="copyright">Copyright ©dodo.com 2021</span>
                </div>
                <div class="col-md-4 margin-b">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 margin-b">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">privacy terms</a>
                        </li>
                        <li>
                            <a href="#">polic</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Activities Modal -->
    <div class="activity-modal modal fade" id="activity-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="modal-body">
                            <!-- Details Go Here -->
                            <h2>{{selectedActivityContent.title}}</h2>
                            <p class="text-content">
                                <img class="img-responsive" ng-src="{{selectedActivityContent.image.src}}" alt="{{selectedActivityContent.image.alt}}"> {{selectedActivityContent.text}}
                            </p>

                            <div class="">
                                <h3 style="text-decoration: underline;">
                                    <strong>&emsp;{{selectedActivityContent.game.name}} Oyun Tuşları &emsp;</strong>
                                </h3>
                                <ul class="list-inline list-group">
                                    <li class="list-group-item" ng-repeat="key in selectedActivityContent.game.controls track by $index" ng-bind-html="key.html" ng-mouseup="keyEvtUp(key.evt)" ng-mousedown="keyEvtDown(key.evt)">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 ">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe id="iframe-video" class="embed-responsive-item iframe-focus" ng-init="selectedActivityContent.video()" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 ">
                        <div class="embed-responsive embed-responsive-4by3 ">
                            <iframe id="iframe-game" class="embed-responsive-item iframe-focus" ng-src="{{selectedActivityContent.game.src}}"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p> <strong>Oyunu tam ekran oynamak için </strong><a target="_blank" href="{{selectedActivityContent.game.src}}">tıklayın</a>.</p>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Kapat </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>