/* game css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE8C4;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}


/** DROPS **/

.drops {
    margin: 0 auto;
    position: relative;
    width: 40vmin;
}

.cont {
    position: absolute;
    height: calc(50vh);
    width: 40vmin;
    top: -10vmin;
    overflow: hidden;
}

.drops1 {
    height: 40vmin;
    position: absolute;
    z-index: 1;
    top: -28vmin;
    /* animation: drops 10ws ease-out; */
}

.dropsanim {
    animation: drops 10s ease-out;
}

.drops2 {
    height: 40vmin;
    position: absolute;
    z-index: 1;
    top: -28vmin;
    /* animation: drops 10s 3s ease-out; */
}

.drops3 {
    height: 40vmin;
    position: absolute;
    z-index: 1;
    top: -28vmin;
    /* animation: drops 10s 6s ease-out; */
}


/** CUP OF WATER **/

.glass {
    top: calc(50vh - 40vmin);
    height: 40vmin;
    width: 40vmin;
    overflow: hidden;
    position: relative;
    margin: 10vmin auto;
    border-left: 1vmin solid;
    border-right: 1vmin solid;
    border-bottom: 1vmin solid;
    border-radius: 2vmin 3vmin 40% 40%;
    border-color: #636363;
    background-color: #0C0D17;
}


/** WAVES **/

.content {
    position: relative;
    top: 1vmin;
    transition: all 1.5s linear;
    /* animation: filltheglass 10s linear; */
    animation-fill-mode: forward;
}

.water {
    /* top: 0px; */
    left: -30vmin;
    position: absolute;
    width: 100vmin;
    height: 20vmin;
    background-color: #A7E5F5;
    border-radius: 100% 0 100% 0px;
    animation: waves 4s linear infinite;
    animation-direction: alternate;
    transition: all 1.5s linear;
}

.water2 {
    /* top: 0px; */
    left: -30vmin;
    position: absolute;
    width: 100vmin;
    height: 20vmin;
    background-color: #A7E5F5;
    border-radius: 0px 100% 0px 100%;
    animation: waves2 4s linear infinite;
    animation-direction: alternate;
    transition: all 1.5s linear;
}

.water3 {
    /* top: -170px; */
    left: -30vmin;
    position: absolute;
    width: 100vmin;
    height: 20vmin;
    background-color: #0C0D17;
    border-radius: 100% 100% 100% 100%;
    /* animation: waves3 4s linear infinite; */
    animation-direction: alternate;
    transition: all 1.5s linear;
}

.water4 {
    position: absolute;
    background-color: #A7E5F5;
    height: 100vmin;
    width: 100vmin;
    /* top: 100px; */
    left: -30vmin;
    transition: all 1.5s linear;
}

.back-table {
    position: absolute;
    width: 100vmin;
    left: calc(50vw - 50vmin);
    top: calc(50vh - 12vmin);
    z-index: -1;
}

.back-table img {
    width: 100%;
    height: auto;
}


/** KEYFRAMES FOR WAVES **/

@keyframes waves {
    100% {
        border-radius: 0px 100% 0px 100%;
    }
}

@keyframes waves2 {
    90% {
        border-radius: 100% 0 100% 0px;
    }
    100% {
        border-radius: 100% 0 100% 0px;
    }
}

@keyframes waves3 {
    40% {
        top: -20vmin;
    }
    50% {
        top: -20vmin;
    }
}

@keyframes filltheglass {
    /*bardak dolması*/
    0% {
        top: 40vmin;
    }
    10% {
        top: 40vmin;
    }
    20% {
        top: 25vmin;
    }
    40% {
        top: 25vmin;
    }
    50% {
        top: 12.5vmin;
    }
    70% {
        top: 12.5vmin;
    }
    80% {
        top: 2.5vmin;
    }
    100% {}
}

@keyframes drops {
    /* su damlacık düşmesi*/
    0% {
        opacity: 1;
        top: -28vmin;
    }
    20% {
        top: calc(50vh + 20vmin);
    }
    99% {
        top: calc(50vh + 20vmin);
    }
    100% {
        top: calc(50vh + 20vmin);
        opacity: 0;
    }
}